@{
	ViewData["Title"] = "Acerca de";
}
<div class="text-center">
	<h1 class="display-4">Este es el acerca de</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
