@model GestionVentasV2.Models.oferta

@{
    ViewData["Title"] = "Edit";
}

<h3>Actualizar Oferta</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagen" class="control-label"></label>
                <input asp-for="imagen" class="form-control" />
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaApertura" class="control-label"></label>
                <input asp-for="fechaApertura" class="form-control" />
                <span asp-validation-for="fechaApertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCierre" class="control-label"></label>
                <input asp-for="fechaCierre" class="form-control" />
                <span asp-validation-for="fechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="porcentajeDescuento" class="control-label"></label>
                <input asp-for="porcentajeDescuento" class="form-control" />
                <span asp-validation-for="porcentajeDescuento" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="establecimiento_id" class="control-label"></label>
                <select asp-for="establecimiento_id" class="form-control" asp-items="ViewBag.establecimiento_id"></select>
                <span asp-validation-for="establecimiento_id" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="usuarioCreacion" class="control-label"></label>
        <input asp-for="usuarioCreacion" class="form-control" />
        <span asp-validation-for="usuarioCreacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="fechaCreacion" class="control-label"></label>
        <input asp-for="fechaCreacion" class="form-control" />
        <span asp-validation-for="fechaCreacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="usuarioActualizacion" class="control-label"></label>
        <input asp-for="usuarioActualizacion" class="form-control" />
        <span asp-validation-for="usuarioActualizacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="fechaActualizacion" class="control-label"></label>
        <input asp-for="fechaActualizacion" class="form-control" />
        <span asp-validation-for="fechaActualizacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="estados_id" class="control-label"></label>
        <select asp-for="estados_id" class="form-control" asp-items="ViewBag.estados_id"></select>
        <span asp-validation-for="estados_id" class="text-danger"></span>
    </div>
        -->
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
